

.Analog {

  display: flex;
  flex: 1;


  .square {
    //position: relative;
    width: 100%;
    //height: 100%;
    //padding-bottom: 100%;
    display: flex;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .clock-face {
    //
    display: none;
    stroke: none;
//    fill: none;
    //stroke: #111;
    //fill: rgba(10, 10, 10, .2);
    //fill: rgba(1, 255, 112, .1);

  }

  .minor {
    //stroke: transparent;
    stroke-width: 0.5;
  }

  .hours {
    stroke: rgba(1, 255, 112, 1);
    //stroke: #fff;
    stroke-width: 12;
    stroke-linecap: round;
  }

  .minutes {
    stroke: rgba(1, 255, 112, .25);
    //stroke: #333;
    stroke-width: 12;
    stroke-linecap: round;
  }

  .hour {
    stroke: rgba(255, 255, 255, .5);
    stroke: rgba(1, 255, 112, .8);
    stroke-linecap: round;
    stroke-width: 12;
  }

  .minute {
    stroke-linecap: round;
    //stroke: rgba(255, 255, 255, .5);
    stroke: rgba(1, 255, 112, .8);
    stroke-width: 4;
  }

  .second, .second-counterweight {
    stroke: rgba(180,0,0, .8);
    //stroke: transparent;
  }

  .second-counterweight {
    stroke-width: 4;
  }

  .xxx {
    fill: rgba(255, 255, 255, .5);
    fill: rgba(1, 255, 112, .8);
    stroke: transparent;
    //fill: #01FF70;
    //fill: rgba(231, 76, 60, .5);
    //fill: rgba(1, 255, 112, .5);

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    //font-family: 'abel', sans-serif;
    //font-weight: 50;
    font-size: 5rem;
  }

}