@import "../node_modules/normalize.css/normalize.css";
@import "./html.scss";
@import "./colours.scss";
@import "./flexbox.scss";
@import "./mixins.scss";

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

.timer {
  flex: 1;
  display: flex;
  flex-direction: column;
  //
  //height: 100vh;

}

time {
  //font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  //font-family: 'Roboto', sans-serif;
  font-family: 'abel', sans-serif;
  display: block;

  text-align: center;
  font-size: 70vh;
  line-height: 1;
  flex: 1;
  //align-content: center;
  //justify-content: center;
}

.progress {
  height: 7vh;
}

$night-color: #444;
$night-background: #111;
$day-color: #eee;
$day-background: #2ECC40;


.night {
  background: $night-background;
  color: $night-color;
  .progress {
    background: $night-color;
  }
}

.day {
  background: $day-background;
  color: $day-color;
  .progress {
    background: $day-color;
  }
}

.on {
  //opacity: .5;
}
.off {

}

