@import "../node_modules/normalize.css/normalize.css";
@import "./html.scss";
@import "./colours.scss";
@import "./flexbox.scss";
@import "./mixins.scss";

#root {
  display: flex;
  flex-direction: column;
  //height: 100vh;
  //align-content: center;
  //justify-content: center;
}


.timer {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.qqq {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.progress {
  height: 10vh;
}


$morning-color: #333;
$morning-background: #000;

$day-color: hotpink;
$day-background: #fff;

$evening-color: #555;
$evening-background: #000;

$night-color: #222;
$night-background: #000;


.morning {
  background: $morning-background;
  color: $morning-color;
  stroke: $morning-color;
  .progress {
    background: $morning-color;
  }
}

.day {
  background: $day-background;
  color: $day-color;
  stroke: $day-color;
  .progress {
    background: $day-color;
  }
}

.evening {
  background: $evening-background;
  color: $evening-color;
  stroke: $evening-color;
  .progress {
    background: $evening-color;
  }
}

.night {
  background: $night-background;
  color: $night-color;
  stroke: $night-color;
  .progress {
    background: $night-color;
  }
}
