@import "../node_modules/normalize.css/normalize.css";
@import "./html.scss";
@import "./colours.scss";
@import "./flexbox.scss";
@import "./mixins.scss";

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

.timer {
  display: flex;
  flex-direction: column;

  height: 100vh;
  align-content: center;
  justify-content: flex-end;
}

time {
  //font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  display: block;
  text-align: center;
  font-size: 70vw;
  line-height: 1;
}

.progress {
  height: 7vw;
}

.night {
  background: #111;
  color: #222;
  .progress {
    background: #222;
  }
}

.day {
  background: #2ECC40;
  color: #eee;
  .progress {
    background: #eee;
  }
}

.on {
  //opacity: .5;
}
.off {

}

