
.Digital {

  font-family: 'abel', sans-serif;
  display: block;
  text-align: center;

  //line-height: 1;
  //flex: 1;

  flex: 1.2;

  //line-height: 12rem;
  //font-size: 12rem;

  font-size: 10rem;
  line-height: 20rem;


  time {

  }


  .hour {


  }

  .minute {


  }

}