
.Digital {

  font-family: 'abel', sans-serif;
  display: block;
  text-align: center;

  //line-height: 1;
  //flex: 1;

  flex: 1;

  //line-height: 12rem;
  //font-size: 12rem;

  font-size: 60vh;
  line-height: 80vh;


  time {

  }

}